body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#Form1{
  display: block;
  position: absolute;
  width:30%;
  right: 10%;
  top: 33%;
  background-color: white;
  border-radius: 2vw;
  border: 2px solid green;
}
#Form2{
  display: block;
  position: absolute;
  width:60%;
  right: 20%;
  top: 60%;
  background-color: white;
  border-radius: 2vw;
  border: 2px solid green;
  color: black;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
}

#logo {
  width: 10%;
  position: relative;
}

#car_picture {
  width: 100%;
}

.LOGICALSELECT {
  display: inline-block;
  font-size: 2vw;
  position: absolute;
  top: 0;
}

.top-line {
  display: inline;
}

.logsel {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.top_symb {
  display: inline-block;
  width: 1.5vw;
  position: relative;
  bottom: 1.5vw;
}

.text_top {
  display: inline-block;
  position: relative;
  bottom: 1.5vw;
  margin: auto 1vw;
  font-size: 1vw;
}

.call_back {
  display: inline-block;
  position: relative;
  right: 45%;
  bottom: 0.5vw;
  font-size: 0.75vw;
}

.phone {
  display: inline-block;
}

.Container1 {
  position: relative;
  text-align: center;
  color: white;
}

.text_1 {
  position: absolute;
  display: block;
  left: 15%;
  top: 20%;
  text-align: left;
  font-size: 1.5vw;
  width: 50%;
}

.menu {
  height: 3vw;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(51, 76, 25, 0.7);
  font-size: 1vw;
}

.menu_left {
  display: inline-block;
  width: 49%;
  top: 1vw;
  position: relative;
  text-align: center;
}

.menu_right {
  display: inline-block;
  width: 50%;
  text-align: center;
  top: 1vw;
  position: relative;
  color: white;
}

.link {
  color: white;
  margin-left: 2vw;
}

.Containter2 {
  position: relative;
  text-align: center;
  color: black;
}

.text_2 {
  display: inline-block;
  width: 40%;
  text-align: left;
  position: absolute;
  left: 15%;
  top: 7vw;
  font-size: 2.45vw;
}

.Container3 {
  position: relative;
  text-align: center;
  font-size: 1.3vw;
}

.text_30 {
  position: absolute;
  top: 2%;
  left: 15%;
  display: block;
  text-align: center;
  padding: 3px;
  color: white;
}

.text_31 {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 15%;
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 1rem;
  border: 2px solid green;
  text-align: left;
  padding: 3px;
}

.text_32 {
  background-color: white;
  position: absolute;
  top: 20%;
  right: 15%;
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 1rem;
  border: 2px solid green;
  text-align: left;
  padding: 3px;
}

.text_33 {
  background-color: white;
  position: absolute;
  bottom: 10%;
  left: 15%;
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 1rem;
  border: 2px solid green;
  text-align: left;
  padding: 3px;
}

.text_34 {
  background-color: white;
  position: absolute;
  bottom: 10%;
  right: 15%;
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 1rem;
  border: 2px solid green;
  text-align: left;
  padding: 3px;
}

.Containter4 {
  position: relative;
  text-align: left;
}

.text_41 {
  position: absolute;
  left: 15%;
  top: 5%;
  width: 50%;
  display: block;
  font-size: 2vw;
}

.text_42 {
  position: absolute;
  width: 33%;
  height: 33%;
  right: 10%;
  bottom: 10%;
  display: block;
  background-color: white;
  font-size: 1.5vw;
  border: 1px solid;
  padding: 5px;
}

#p93 {
  font-size: 2.5vw;
  margin: 0;
}

.Containter5 {
  position: relative;
  text-align: left;
  color: white;
}

.text_5 {
  position: absolute;
  left: 15%;
  width: 70%;
  top: 5%;
  display: block;
  font-size: 2vw;
}

.Container6 {
  position: relative;
  text-align: left;
}

.text_6 {
  position: absolute;
  left: 15%;
  width: 40%;
  top: 5%;
  display: block;
  font-size: 1.8vw;
}

.Container7 {
  position: relative;
  text-align: left;
  font-size: 1vw;
}

.text_71 {
  position: absolute;
  left: 15%;
  width: 20%;
  top: 5%;
  background-color: white;
  display: block;
  border-radius: 1rem;
  border: 2px solid green;
  padding: 10px;
}

.text_72 {
  position: absolute;
  left: 40%;
  width: 20%;
  top: 5%;
  background-color: white;
  display: block;
  border-radius: 1rem;
  border: 2px solid green;
  padding: 10px;
}

.text_73 {
  position: absolute;
  left: 65%;
  width: 20%;
  top: 5%;
  background-color: white;
  display: block;
  border-radius: 1rem;
  border: 2px solid green;
  padding: 10px;
}

.price {
  color: white;
  background-color: green;
  padding: 3px;
  display: block;
  width: 60%;
  text-align: center;
  font-size: 1vw;
  border: 2px solid green;
  border-radius: 3vw;
  position: relative;
  left: 20%;
}

.Container8 {
  position: relative;
  text-align: left;
}

.text_8 {
  position: absolute;
  display: block;
  left: 15%;
  top: 5%;
  font-size: 2vw;
}

.Container9 {
  position: relative;
  text-align: left;
  font-size: 2vw;
}

#googleMap {
  display: block;
  position: absolute;
  left: 15%;
  bottom: 10%;
  height: 50%;
}

.text_9 {
  display: block;
  position: absolute;
  left: 15%;
  top: 5%;
}

.text_91 {
  display: block;
  position: absolute;
  left: 57%;
  top: 40%;
}
